#cloud-config

# I name all my VMs after places in Middle Earth.
# numinora is the capital of Gondor. It is the seat of Gondor's power and wisdom.
# Since the GPU is assigned to this VM and it's got a lot of compute power, it's a fitting name.
hostname: numenor

# SSH keys for root user
ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHPbbBr45lG6kPU6Ii7T4Td79CibnKkXMpaOCT5kJpZx josephcuffney@gmail.com

# Create jcuffney user with root permissions
users:
  - name: jcuffney
    groups: sudo, docker
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHPbbBr45lG6kPU6Ii7T4Td79CibnKkXMpaOCT5kJpZx josephcuffney@gmail.com

packages:
  - docker.io
  - docker-compose
  - curl
  - wget

runcmd:
  - [ sh, /root/bootstrap.sh ]
